/* Fonte */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@387&display=swap');

/* Keyframes Animation */
@keyframes bollmove {
    from {left: 0px;}
    to {left: -10px;}
}

/* webkit Scrollbar */
::-webkit-scrollbar {width: 10px; height: 8px;}
::-webkit-scrollbar-button {width: 0px; height: 0px;}
::-webkit-scrollbar-thumb {background: #ececec; border-radius: 50px; padding: .1em; border: 1px solid #ffffff;}
::-webkit-scrollbar-thumb:hover {background: #dadada;}
::-webkit-scrollbar-track {background: #00000000; border-radius: 50px;}

body{
    overflow-x: hidden;
}

.active{
    color: white !important;
    background: linear-gradient(332deg, rgba(230,86,1,1) 0%, rgb(255, 123, 0) 100%) !important;
    border-radius: 100px !important;
    transition: background .2s, border-radius .2s ease-in-out;
}

.active:hover{
    color: white !important;
}

.activeBar{
    background-color: white;
    margin: 2em;
    padding: 1em;
    box-shadow: 0px 25px 10px -20px rgba(145, 145, 145, 0.123);
    border-radius: 30px !important;
    border: solid 1px #fcfcfc;
    transition: opacity 1s ease-in-out;
}

.nav-menu{
    margin: 1em;
    border-radius: 0px;
}

.nav-menu img{
    max-width: 10vw;
    cursor: pointer;
}

.menu .link-menu{
    border-radius: 100px;
    padding: -1em !important;
    margin-right: 1vw;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.menu a{
    font-size: 1.1vw;
    font-family: 'Nunito', sans-serif;
    color: rgb(187, 187, 187);
    transition: color .1s, transform .1s ease-in-out;
}

.menu a:hover{
    color: orangered;
    transform: scale(1.05);
    text-decoration: none;
}


.home-page{
    /* margin-top: 14vh; */
    width: auto;
}

.home-page .row{
    flex-wrap: wrap-reverse;
}

.text-saudacoes{
    font-family: 'Quicksand', sans-serif;
    color: rgb(187, 187, 187);
    font-size: 2.5vw;
    padding-top: 14%;
    padding-left: 2em;
    font-weight: 100;
    text-align: justify;
}

.text-saudacoes b{
    color: rgb(161, 161, 161) !important;
}

.text-saudacoes button{
    background: linear-gradient(332deg, rgba(230,86,1,1) 0%, rgb(255, 123, 0) 100%);
    color: white;
    font-weight: 600;
    font-size: 1.2vw;
    border-radius: 100px;
    font-weight: 200;
    transition: transform .1s ease-in-out;
    box-shadow: 0px 20px 15px -20px rgb(255, 94, 0);
}

.text-saudacoes button:hover{
    color: white;
    transform: scale(1.1);
}

.img-leitor{
    max-width: 45vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.boll{
    position: absolute;
    height: 3vw;
    width: 12vw;
    background: rgba(230,86,1,1);
    border-bottom-right-radius: 200px;
    border-top-right-radius: 200px;
    bottom: 00px;
    left: 00px;
    animation: bollmove 2s infinite;
    animation-direction: alternate;
}

.boll:after,
.boll:before {
    content: "";
    display: block;
    border-bottom-right-radius: 200px;
    border-top-right-radius: 200px;
    position: absolute;
}

.boll:after{
    background: rgb(250, 106, 23);
    top: -2vw;
    width: 80%;
    height: 100%;
    animation: bollmove 1.6s infinite;
    animation-direction: alternate;
}

.boll::before{
    background: rgb(255, 127, 53);
    top: -4vw;
    width: 60%;
    height: 100%;
    animation: bollmove 1.5s infinite;
    animation-direction: alternate;
}

/* Div Introdução */
.introducao{
    margin-top: 5em;
    margin-bottom: 20em;
    padding-left: 6em;
    padding-right: 6em;
}

.introducao p{
    text-align: justify;
    padding: 1em;
    font-size: 1.2vw;
    color: rgb(167, 167, 167);
}


/* Footer */

.footer{
    padding: 1em;
    position: relative;
    bottom: 0px;
    text-align: center;
    color: grey;
    background: linear-gradient(332deg, rgba(230,86,1,1) 0%, rgb(255, 123, 0) 100%);
}

.footer img{
    max-width: 300px;
    min-width: 100px;
    margin-top: 1.5em;
    margin-bottom: 1em;
}
