/* Fonte */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@387&display=swap');

/* Keyframes Animation */
@keyframes bollmove {
    from {
        left: 0px;
    }

    to {
        left: -10px;
    }
}

@keyframes bookmove {
    from {
        top: 0px;
    }

    to {
        top: -20px;
    }
}

/* webkit Scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 8px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #ececec;
    border-radius: 50px;
    padding: .1em;
    border: 1px solid #ffffff;
}

::-webkit-scrollbar-thumb:hover {
    background: #c0c0c0;
}

::-webkit-scrollbar-track {
    background: #00000000;
    border-radius: 50px;
}

body {
    overflow-x: hidden;
}

.active {
    color: white !important;
    background: linear-gradient(332deg, rgba(230, 86, 1, 1) 0%, rgb(255, 123, 0) 100%) !important;
    border-radius: 100px !important;
    transition: background .2s, border-radius .2s ease-in-out;
}

.active:hover {
    color: white !important;
}

.activeBar {
    background-color: white;
    margin: 2em;
    padding: 1em;
    box-shadow: 0px 25px 10px -20px rgba(145, 145, 145, 0.123);
    border-radius: 30px !important;
    border: solid 1px #fcfcfc;
    transition: opacity 1s ease-in-out;
}

.nav-menu {
    margin: 1em;
    border-radius: 0px;
}

.nav-menu img {
    max-width: 10vw;
    cursor: pointer;
}

.menu .link-menu {
    border-radius: 100px;
    padding: -1em !important;
    margin-right: 1vw;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.menu a {
    font-size: 1.1vw;
    font-family: 'Nunito', sans-serif;
    color: rgb(187, 187, 187);
    transition: color .1s, transform .1s ease-in-out;
}

.menu a:hover {
    color: orangered;
    transform: scale(1.05);
    text-decoration: none;
}


.home-page {
    position: relative;
    top: -20px;
    width: auto;
    opacity: 0%;
}

.home-page .row {
    flex-wrap: wrap-reverse;
}

.text-saudacoes {
    font-family: 'Quicksand', sans-serif;
    color: rgb(187, 187, 187);
    font-size: 2.5vw;
    padding-top: 14%;
    padding-left: 2em;
    font-weight: 100;
    text-align: justify;
}

.text-saudacoes b {
    color: rgb(161, 161, 161) !important;
}

.text-saudacoes button {
    background: linear-gradient(332deg, rgba(230, 86, 1, 1) 0%, rgb(255, 123, 0) 100%);
    color: white;
    font-weight: 600;
    font-size: 1.2vw;
    border-radius: 100px;
    font-weight: 200;
    transition: transform .1s ease-in-out;
    box-shadow: 0px 20px 15px -20px rgb(255, 94, 0);
}

.text-saudacoes button:hover {
    color: white;
    transform: scale(1.1);
}

.img-leitor {
    max-width: 45vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-livros {
    position: absolute;
    animation: bookmove 2s infinite;
    animation-direction: alternate;
}


.boll {
    position: absolute;
    height: 3vw;
    width: 12vw;
    background: rgba(230, 86, 1, 1);
    border-bottom-right-radius: 200px;
    border-top-right-radius: 200px;
    bottom: 00px;
    left: 00px;
    animation: bollmove 1.5s infinite;
    animation-direction: alternate;
}

.boll:after,
.boll:before {
    content: "";
    display: block;
    border-bottom-right-radius: 200px;
    border-top-right-radius: 200px;
    position: absolute;
}

.boll:after {
    background: rgb(250, 106, 23);
    top: -2vw;
    width: 85%;
    height: 100%;
    animation: bollmove 1.2s infinite;
    animation-direction: alternate;
}

.boll::before {
    background: rgb(255, 127, 53);
    top: -4vw;
    width: 70%;
    height: 100%;
    animation: bollmove 1s infinite;
    animation-direction: alternate;
}

/* Div Introdução */
.introducao {
    margin-top: 5em;
    margin-bottom: 2em;
    padding-left: 14em;
    padding-right: 14em;
}

.introducao p {
    text-align: justify;
    padding: 1em;
    font-size: 1.15vw;
    color: rgb(167, 167, 167);
}

/* ////////////////////////////////Funcionalidades */

.funcionalidades {
    margin-top: 5em;
    margin-bottom: 2em;
    padding-left: 12em;
    padding-right: 12em;
}

.funcionalidades label{
    font-size: 1.2vw;
    margin: 10px;
    border: solid 1px !important;
    padding: 10px;
    border-radius: 10px;
    transition: .1s ease-in-out;
}

.txt-funcionalidades p{
    position: absolute;
    padding: 1em;
    opacity: 0;
    font-size: 1.5vw;
    color: rgb(167, 167, 167);
    text-align: center;
}

.active-functionality{
    transition: .4s ease-in-out;
    position: relative !important;
    opacity: 1 !important;
}

.funcionalidades label:hover{
    transform: scale(1.01);
}


/*///////////////////////////////// Como usar */

.tutorial{
    position: fixed;
}

.tutorial .display{
    width: 100vw;
    height: 100vh;
    background: white;
    position: fixed;
    left: 50%;
    top: -100%;
    transform: translate(-50%, -50%);
    transition: opacity .5s ease-in-out;
    text-align: center;
    opacity: 0;
}

.display p{
    font-size: 2.25vw;
    color: rgb(179, 178, 178);
    padding-left: 10vw;
    padding-right: 10vw;
    margin-bottom: 1em;
}


.display button{
    border:solid 1px rgb(255, 0, 0);
    color: orangered;
    margin: 2em;
    font-size: 16pt;
}

.display button:hover{
    background-color: orangered;
    color: white;
}

@media screen and (max-width: 768px){
    .display p{
        font-size: 3.25vh;
        color: rgb(209, 209, 209);
        padding-left: 10vw;
        padding-right: 10vw;
        margin-bottom: 1em;
        margin-top: -3em;
    }

    .display button{
        border:solid 1px rgb(255, 0, 0);
        color: orangered;
        margin: 1em;
        font-size: 14pt;
    }
}

.return {
    position: fixed;
    left: 1em;
    top: 1em;
    font-size: 1vw;
    transition: .1s ease-in-out;
    color: grey;
    z-index: 3;
}

@media screen and (max-width: 768px){
    .return{
        font-size: 3vh;
    }
}

.return:hover {
    text-decoration: none;
    transform: scale(1.1);
    color: orangered;
}

.container-uso {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.container-uso img {
    max-width: 15vw;
    display: block;
    margin: 0px auto;
    margin-bottom: 5em;

}

.form {
    margin-bottom: 5em;
}

.container-uso input {
    border: 0;
    border-bottom: solid 1px rgb(182, 182, 182);
    transition: .3s ease-in-out;
    height: 50px;
    font-size: 18pt;
    font-weight: 600;
    color: grey;
    margin-bottom: 1em;
}

.container-uso input:hover {
    background-color: rgb(243, 243, 243);
}

.container-uso input:focus {
    border-color: rgb(182, 182, 182) !important;
}

.container-uso .form i {
    position: absolute;
    margin-top: 1em;
    right: 2em;
    transform: scale(1.7);
    color: rgb(228, 228, 228);
    cursor: pointer;
    transition: .5s ease-in-out;
}

.container-uso .form i:hover {
    color: rgb(209, 209, 209);
}

.container-uso .form button {
    position: absolute;
    right: 1em;
    background-color: transparent;
    border: solid 1px transparent;
    color: orangered;
    transition: .2s ease-in-out;
}

.container-uso .form button:hover {
    border: solid 1px orangered;
}

.mais-buscadas {
    display: flex;
    flex-wrap: wrap;
}

.mais-buscadas>* {
    border: solid 1px rgb(221, 221, 221);
    padding: .5em;
    border-radius: 5px;
    color: rgb(131, 131, 131);
    font-weight: 400;
    margin: 5px;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.mais-buscadas>*:hover {
    border: solid 1px orangered;
    padding: .5em;
    border-radius: 5px;
    color: orangered;
    font-weight: 400;
    margin: 5px;
}


/* Footer */

.footer {
    padding: 1em;
    position: relative;
    bottom: 0px;
    text-align: center;
    color: grey;
    background: linear-gradient(332deg, rgba(230, 86, 1, 1) 0%, rgb(255, 123, 0) 100%);
}

.footer img {
    max-width: 300px;
    min-width: 100px;
    margin-top: 1.5em;
    margin-bottom: 1em;
}