@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@387&display=swap');

/* Mobile */

.mobile-nav{
    display: none;
}

.menu-mobile {
    position: fixed;
    background: #FFF;
    border-radius: 50%;
    top: 15px;
    right: 15px;
    cursor: pointer;
    height: 60px;
    transition:  box-shadow .8s cubic-bezier(.19,1,.22,1);
    width: 60px;
    z-index: 2;
    box-shadow: 0px 6px 10px -5px rgba(201, 201, 201, 0.685);
    overflow: hidden;
}

.hamburger {
    position: relative;
    top: 29px;
    left: 15px;
    width: 30px;
    height: 2px;
    background: grey;
    display: block;
    transform-origin: center;
    transition: .5s ease-in-out;
}

.hamburger:after,
.hamburger:before {
    background: grey;
    content: "";
    display: block;
    transition: .1s ease-in-out;
    position: absolute;
    width: 100%;
    height: 100%;
}

.hamburger:before {
    top: -10px;
}

.hamburger:after {
    bottom: -10px;
}

#toggler {
    display: none;
}

#toggler:checked ~ label .menu-mobile {
    box-shadow: 0 0 0 130vw #FFF, 0 0 0 130vh #FFF;
}

#toggler:checked ~ label .hamburger {
    transform: rotate(45deg);
}

#toggler:checked ~ label .hamburger:after {
    transform: rotate(90deg);
    bottom: 0;
}

#toggler:checked ~ label .hamburger:before {
    transform: rotate(90deg);
    top: 0;
}

input:checked ~ .ul-mobile {
    opacity: 1;
    visibility: visible;
}

.ul-mobile li a{
    text-decoration: none;
    color: grey;
    font-family: 'Quicksand', sans-serif;
}

.ul-mobile{
    text-align: center;
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    list-style: none;
    font-size: 4.5vh;
    opacity: 0;
    transition: .25s .1s cubic-bezier(0, 1.07, 0, 1.02);
    visibility: hidden;
    z-index: 1100;
}

@media screen and (max-width: 1024px){
    .nav-menu{
        display: none;
    }

    .mobile-nav{
        display: block !important;
    }

    .img-leitor{
        max-width: 110vw !important;
    }

    .img-livros{
        max-width: 111vw !important;
    }

    .text-saudacoes{
        font-size: 7vw;
        text-align: center;
        padding-left: 1vw;
        padding-right: 1vw;
        margin-top: -1.5em;
    }

    .text-saudacoes button{
        margin-top: 1em;
        margin-bottom: 2em;
        font-size: 5vw;
        padding-left: 1.5em;
        padding-right: 1.5em;
    }

    .col-leitor{
        width: 100%;
        padding: 0px;
        margin-top: 2em;
        margin-left: -5vw;
    }

    .boll{
        transform: scale(2);
    }

    /* Introdução */
    .introducao{
        background: white;
        padding-left: 1em;
        padding-right: 1em;
    }

    .introducao h1{
        text-align: center;
    }

    .introducao p{
        font-size: 5.5vw;
        text-align: left;
        min-width: 90vw;
        font-weight: 400;
        color: rgb(182, 182, 182);
    }

    /* Funcionalidades */

    .funcionalidades {
        background: white;
        padding-left: 1em;
        padding-right: 1em;
    }

    .funcionalidades label{
        font-size: 5.5vw;
        text-align: left;
        min-width: 90vw;
        font-weight: 400;
        color: rgb(182, 182, 182);
        text-align: center;
    }

    .funcionalidades p{
        font-size: 5.5vw;
        text-align: left;
        min-width: 90vw;
        font-weight: 400;
        color: rgb(182, 182, 182);
    }

    /* Como usar */
    .Slider{
        background: white;
        padding-left: 1em;
        padding-right: 1em;
    }
} 